* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Outfit', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}
.box {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 25px;
    width: 20%;
    text-align: center;
}
.box__img {
    width: 100%;
    border-radius: 16px;
}
.box__title {
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: hsl(218, 44%, 22%);
}
.box__description {
    margin-top: 15px;
    margin-bottom: 20px;
    color: hsl(220, 15%, 55%);
}
.box div {
    padding-left: 10px;
    padding-right: 10px;
    /* border-color: black;
    border-style: solid; */
}