* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* mini tailwind - crear clases genericas y reutilizarlas? */
.flex {
  display: flex;
}

.radius-md {
  border-radius: 20px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.container {
  background-color: hsl(231, 11%, 63%);
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container__box {
  background-color: #fff;
  height: 70vh;
  width: 70%;
}

.container__box > div:first-child {
  width: 25%;
  background: url("../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.uppercase {
  text-transform: uppercase;
}
.step__container {
  gap: 20px;
  /* align vertically */
  align-items: center;
}
.step__circle {
  border: solid #fff 1px;
  padding: 9px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.step__circle:hover {
  color: #000;
  background-color: hsl(206, 94%, 87%);
}
.step__title {
  color: hsl(217, 100%, 97%);
  font-size: 13px;
}
.step__description {
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
  letter-spacing: 1px;
}
